.Subtitulo
{
	font-family: gentium-book-basic-n7, sans-serif;
}

.P-rrafo
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.subhead,.Titulo
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u752-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u769-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u773-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u759-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u748-4,#u132-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u142-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u147-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u155-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u121-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u916-4,#u923-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u910-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u904-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u215-4,#u222-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u231-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u207-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u885-6,#u236-6
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u932-4,#u261-4,#u874-4,#u315-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

