.Subtitulo
{
	font-family: gentium-book-basic-n7, sans-serif;
}

.P-rrafo
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.subhead,.Titulo
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u412-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u426-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u417-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u431-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u803-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u816-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u811-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u825-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u847-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u853-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u841-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u834-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u783-4,#u373-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u395-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u382-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u387-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u359-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u457-4,#u524-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u515-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu508.frm-sub-st #u520-4 p,#widgetu508.frm-subm-err-st #u519-4 p,#widgetu508.frm-subm-ok-st #u517-4 p
{
	font-family: gentium-book-basic-i7, sans-serif;
}

#u510-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u533-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u535-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u561-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u563-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u569-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u573-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u577-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u581-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu521_input,#widgetu521_prompt,#widgetu513_input,#widgetu513_prompt,#widgetu509_input,#widgetu509_prompt,#widgetu530_input,#widgetu530_prompt,#widgetu534_input,#widgetu534_prompt,#widgetu558_input,#widgetu558_prompt,#widgetu562_input,#widgetu562_prompt,#widgetu566_input,#widgetu566_prompt,#widgetu570_input,#widgetu570_prompt,#widgetu574_input,#widgetu574_prompt,#widgetu578_input,#widgetu578_prompt
{
	font-family: gentium-book-basic, sans-serif;
}

