.Subtitulo
{
	font-family: gentium-book-basic-n7, sans-serif;
}

.P-rrafo
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.subhead,.Titulo
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u412-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u426-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u417-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u431-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u803-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u816-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u811-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u825-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u847-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u853-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u841-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u834-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u783-4,#u373-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u395-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u382-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u387-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u359-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u959-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

